{% extends 'base.html' %}

{% block content %}
<div class="column">
  <h2>Popular lists</h2>
  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Author</th>
          <th scope="col">Country</th>
          <th scope="col">Blocked users</th>
          <th scope="col">Subscribers</th>
        </tr>
      </thead>
      <tbody>
        {% for block_list in object_list %}
          <tr>
            <td class="link" onclick="window.location='{% url 'block-list-detail' block_list.id %}';" scope="row" data-label="Name">{{ block_list.name }}</td>
            <td data-label="Author"><a target="_blank" href="https://twitter.com/{{ block_list.owner.username }}">{{ block_list.owner.username }}</a></td>
            <td data-label="Country">{{ block_list.country|default:"-" }}</td>
            <td data-label="Blocked users">{{ block_list.users_count }}</td>
            <td data-label="Subscribers">{{ block_list.subscribers }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}