{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="column">
		{% if request.user.is_authenticated %}
			{% if subscribed %}
				<a class="button" href="{% url 'unsubscribe' block_list.pk %}">Unsubscribe</a>
			{% else %}
				<a class="button button-outline" href="{% url 'subscribe' block_list.pk %}">Subscribe</a>
			{% endif %}
		{% else %}
			<p>You need to be logged to subscribe or create your own lists.</p>
		{% endif %}
	</div>
	<div class="column" style="text-align: right;">
		{% if request.user == block_list.owner %}
			<a class="button button-clear" href="{% url 'block-list-delete' block_list.pk %}" onclick="if (!confirm('Delete this list?')) return false;" >Delete</a>
			<a class="button"href="{% url 'block-list-update' block_list.pk %}">Edit</a>
		{% endif %}
	</div>
</div>
<hr>
<div class="row">
	<div class="column"><h4>Name</h4>{{ block_list.name }}</div>
</div>
<hr>
<div class="row">
	<div class="column"><h4>Author</h4><a target="_blank" href="https://twitter.com/{{ block_list.owner.username }}">{{ block_list.owner.username }}</a></div>
	<div class="column"><h4>Country</h4>{{ block_list.country.name|default:"-" }}</div>
	<div class="column"><h4>Users blocked</h4>{{ block_list.users_count }}</div>
</div>
<hr>
<div class="row">
	<div class="column"><h4>Description</h4>{{ block_list.description|default:"..."|escape }}</div>
</div>
<hr>
<div class="row">
	<div class="column"><h4>Blocked users</h4>
		{% if not request.user.is_authenticated %}
			<p>You must be logged to see blocked user names.</p>
		{% else %}
			<ul class="flexible">
				{% for user in block_list.user_names %}
					<li><a target="_blank" href="https://twitter.com/{{ user }}">{{ user }}</a></li>
				{% empty %}
					<em>This list is empty.</em>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
<style>
	ul.flexible {height: 100px; display: flex; flex-direction: column; flex-wrap: wrap;}
</style>
{% endblock %}