{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="column">
	{% if request.user.is_authenticated %}
		<h2>Your lists</h2>
		<table>
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Country</th>
					<th scope="col">Blocked users</th>
					<th scope="col">Subscribers</th>
				</tr>
			</thead>
			<tbody>
		    {% for block_list in block_lists %}
				<tr>
					<td scope="row" data-label="Name"><a href="{% url 'block-list-detail' block_list.id %}">{{ block_list.name }}</a></td>
					<td data-label="Country">{{ block_list.country.name|default:"-" }}</td>
					<td data-label="Blocked users">{{ block_list.users_count }}</td>
					<td data-label="Subscribers">{{ block_list.subscribers }}</td>
			   	</tr>
		   	{% empty %}
			   	<em>No block list for now...</em>
		   	{% endfor %}
			</tbody>
		 </table>
		
		<h2>Your subscriptions</h2>
		<table>
			<thead>
				<tr>
		  			<th scope="col">Name</th>
		  			<th scope="col">Country</th>
					<th scope="col">Blocked users</th>
					<th scope="col">Subscribers</th>
				</tr>
			</thead>
			<tbody>
				{% for subscription in subscriptions %}
					{% with subscription.block_list as block_list %} 
						<tr>
							<td scope="row" data-label="Name"><a href="{% url 'block-list-detail' block_list.id %}">{{ block_list.name }}</a></td>
							<td data-label="Country">{{ block_list.country.name|default:"-" }}</td>
							<td data-label="Blocked users">{{ block_list.users_count }}</td>
							<td data-label="Subscribers">{{ block_list.subscribers }}</td>
						</tr>
					{% endwith %}
				{% empty %}
					<em>No subscribed block list for now...</em>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Presentating Colombe.</p>
	{% endif %}
	</div>
</div>
{% endblock %}