{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="column">
	{% if request.user.is_authenticated %}
		<h2>Your lists</h2>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Country</th>
						<th scope="col">Blocked users</th>
						<th scope="col">Subscribers</th>
					</tr>
				</thead>
				<tbody>
				{% for block_list in block_lists %}
					<tr>
						<td scope="row" data-label="Name"><a href="{% url 'block-list-detail' block_list.id %}">{{ block_list.name }}</a></td>
						<td data-label="Country">{{ block_list.country.name|default:"-" }}</td>
						<td data-label="Blocked users">{{ block_list.users_count }}</td>
						<td data-label="Subscribers">{{ block_list.subscribers }}</td>
					</tr>
				{% empty %}
					<p>You can create your very first list <a href="{% url 'block-list-add' %}">here</a>!</p>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<h2>Your subscriptions</h2>
		{% if subscriptions %}
		<div class="table">
			<table>
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Author</th>
						<th scope="col">Country</th>
						<th scope="col">Blocked users</th>
						<th scope="col">Subscribers</th>
					</tr>
				</thead>
				<tbody>
					{% for subscription in subscriptions %}
						{% with subscription.block_list as block_list %} 
							<tr>
								<td scope="row" data-label="Name"><a href="{% url 'block-list-detail' block_list.id %}">{{ block_list.name }}</a></td>
								<td data-label="Author"><a target="_blank" href="https://twitter.com/{{ block_list.owner.username }}">{{ block_list.owner.username }}</a></td>
								<td data-label="Country">{{ block_list.country.name|default:"-" }}</td>
								<td data-label="Blocked users">{{ block_list.users_count }}</td>
								<td data-label="Subscribers">{{ block_list.subscribers }}</td>
							</tr>
						{% endwith %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
			<p>You don't have any subscriptions. Take a look at <a href="{% url 'block-list-list' %}">popular lists!</a></p>
		{% endif %}
	{% else %}
		<p>
			<strong>Colombe will help you to sanitize your Twitter timeline.</strong><br><br>
			Subscribe to popular user blocking lists and your Twitter account will be automatically updated.<br>
			If you think you have the best blocking list, share it!<br><br>
			Best way to start is to <a href="{% url "social:begin" "twitter" %}">log in</a> with your Twitter account and you'll be able to subscribe to <a href="/block-list">existing lists</a> or create your very own.
		</p>
	{% endif %}
	</div>
</div>
{% endblock %}